@media screen and (max-width:1040px) {
    
    #nav{
       .navitems{

        .links {
            display: none;
        }
       } 
    }

}

@media screen and (max-width:1040px) {

 
    #info{
    table{
        overflow-x: scroll;
        
    }
    .tablecontanier{
        padding-left:5vw;
        overflow-x: scroll ;
        scroll-behavior: smooth;
      }

     }


}